<app-title-header [title]="t"></app-title-header>

  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form #addTeamForm="ngForm" (ngSubmit)="addTeam()">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.name" placeholder="Name" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.foundation" placeholder="Foundation" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.stadium" placeholder="Stadium" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="team.owner" placeholder="Owner" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <button class="btn btn-primary py-3 px-5"> {{t}} </button>
            </div>
          </form>  
        </div>
        <div class="col-lg-4 ml-auto">
          
          <ul class="list-unstyled">
            <li class="mb-2">
              <strong class="text-white d-block">Address</strong>
              273 South Riverview Rd. <br> New York, NY 10011
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">Email</strong>
              <a href="#">info@unslate.co</a>
            </li>
            <li class="mb-2">
              <strong class="text-white d-block">
                Phone
              </strong>
              <a href="#">+12 345 6789 012</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>