<app-title-header [title]="t"></app-title-header>
<div class="site-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" style="margin: auto;">
                <div class="widget-next-match">

                    <div class="widget-body mb-3">
                        <div class="widget-vs">
                          <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                <div class="team-1 text-center">
                                    <img src="assets/images/img_2.jpg" alt="Image">
                                    <h3 style="margin-top:10px ;">{{info.name}}</h3>
                                </div>

                                <div class="text-center widget-vs-contents mb-4">
                                    <p class="mb-5" style="margin-top: 20px;">
                                        <span class="d-block">{{info.i1}}</span>
                                        <span class="d-block">{{info.i2}}</span>
                                        <span class="d-block">{{info.i3}}</span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>